html
  head
    title= "Puissance 4"
    style(type='text/css').
      body {
        text-align:center;
      }

  body
    h1="Choix du mode de jeu"
    a(href="/ruleset/1")
      button="Joueur vs IA"
    a(href="/ruleset/2")
      button="Joueur vs joueur"